In [1]:
import os
import numpy as np
import json
import pandas as pd
import itertools
from tqdm import tqdm
import nltk
from nltk.tokenize import word_tokenize
import matplotlib.pyplot as plt

In [2]:
def create_dataframe(dataset_path, source, columns_df):
    """Function used to create a Pandas DataFrame containing specifications page titles

    Reads products specifications from the file system ("dataset_path" variable in the main function) and creates a Pandas DataFrame where each row is a
    specification. The columns are 'source' (e.g. www.sourceA.com), 'spec_number' (e.g. 1) and the 'page title'. Note that this script will consider only
    the page title attribute for simplicity.

    Args:
        dataset_path (str): The path to the dataset

    Returns:
        df (pd.DataFrame): The Pandas DataFrame containing specifications and page titles
    """

    print('>>> Creating dataframe...\n')

    progressive_id = 0
    progressive_id2row_df = {}
    for specification in os.listdir(os.path.join(dataset_path, source)):
        specification_number = specification.replace('.json', '')
        specification_id = '{}//{}'.format(source, specification_number)
        with open(os.path.join(dataset_path, source, specification)) as specification_file:
            specification_data = json.load(specification_file)
        
            screen_size = specification_data.get("lcd screen size")
            type_c = specification_data.get("camera type")
            megapixels = specification_data.get("effective megapixels")
            height = specification_data.get("height")
            width = specification_data.get("width")
            depth = specification_data.get("depth")
            weight = specification_data.get("weight")
            dots = specification_data.get("total pixels")
            row = (specification_id, screen_size, type_c, megapixels,height,width,depth,weight,dots)
            progressive_id2row_df.update({progressive_id: row})
            progressive_id += 1
    df = pd.DataFrame.from_dict(progressive_id2row_df, orient='index', columns=columns_df)
    print('>>> Dataframe created successfully!\n')
    return df

In [3]:
df = create_dataframe('../../datasets/unlabeled/2013_camera_specs', "buy.net", ["spec_id", "lcd screen size", "camera type", "effective megapixels", "height", "width", "depth", "weight", "total pixels"])

>>> Creating dataframe...

>>> Dataframe created successfully!

In [4]:
df.head()

,spec_id,lcd screen size,camera type,effective megapixels,height,width,depth,weight,total pixels
0,buy.net//6036,3 in,Compact Camera,16 Megapixel,2.8 in,4.3 in,1.7 in,8.04 oz,16600000
1,buy.net//5860,3 in,Bridge Camera,12.1 Megapixel,3.4 in,4.9 in,4.3 in,1.30 lbs,12800000
2,buy.net//5925,3 in,Point & Shoot Digital Camera,16000000 pixels,2.5 in,4.3 in,1.7 in,9.5 oz,None
3,buy.net//6061,2.5 in,Compact Camera,12.1 Megapixel,2.1 in,3.8 in,0.9 in,4.48 oz,12700000
4,buy.net//5837,3 in,Compact Camera,16 Megapixel,2.4 in,4.1 in,1.1 in,6.07 oz,16500000

In [5]:
cols = ["spec_id", "lcd screen size", "camera type", "effective megapixels", "height", "width", "depth", "weight", "total pixels"]

In [6]:
df = df[cols]

In [7]:
df.isna().sum()

spec_id                  0
lcd screen size         24
camera type             19
effective megapixels    26
height                  40
width                   40
depth                   41
weight                  41
total pixels            89
dtype: int64

### Screen size

In [8]:
df.head()

,spec_id,lcd screen size,camera type,effective megapixels,height,width,depth,weight,total pixels
0,buy.net//6036,3 in,Compact Camera,16 Megapixel,2.8 in,4.3 in,1.7 in,8.04 oz,16600000
1,buy.net//5860,3 in,Bridge Camera,12.1 Megapixel,3.4 in,4.9 in,4.3 in,1.30 lbs,12800000
2,buy.net//5925,3 in,Point & Shoot Digital Camera,16000000 pixels,2.5 in,4.3 in,1.7 in,9.5 oz,None
3,buy.net//6061,2.5 in,Compact Camera,12.1 Megapixel,2.1 in,3.8 in,0.9 in,4.48 oz,12700000
4,buy.net//5837,3 in,Compact Camera,16 Megapixel,2.4 in,4.1 in,1.1 in,6.07 oz,16500000

In [9]:
screen_size = df["lcd screen size"]

In [10]:
def clean_size(value):
    if pd.isna(value):
        return value
    else:
        return word_tokenize(value)[1]

In [11]:
#screen size values FIX
pd.Series(screen_size.apply(clean_size)).value_counts()

in    334
Name: lcd screen size, dtype: int64

In [12]:
sum(pd.isna(screen_size))

24

In [13]:
def keep_inches(value):
    if pd.isna(value):
        return value
    else:
        return word_tokenize(value)[0]

In [14]:
df["lcd screen size"] = df["lcd screen size"].apply(keep_inches)

In [15]:
df.head()

,spec_id,lcd screen size,camera type,effective megapixels,height,width,depth,weight,total pixels
0,buy.net//6036,3,Compact Camera,16 Megapixel,2.8 in,4.3 in,1.7 in,8.04 oz,16600000
1,buy.net//5860,3,Bridge Camera,12.1 Megapixel,3.4 in,4.9 in,4.3 in,1.30 lbs,12800000
2,buy.net//5925,3,Point & Shoot Digital Camera,16000000 pixels,2.5 in,4.3 in,1.7 in,9.5 oz,None
3,buy.net//6061,2.5,Compact Camera,12.1 Megapixel,2.1 in,3.8 in,0.9 in,4.48 oz,12700000
4,buy.net//5837,3,Compact Camera,16 Megapixel,2.4 in,4.1 in,1.1 in,6.07 oz,16500000

### Effective Megapixels

In [16]:
#screen size values
pd.Series(df["effective megapixels"].apply(clean_size)).value_counts()

Megapixel    193
pixels       139
Name: effective megapixels, dtype: int64

In [17]:
def pixels_to_megapixels(value):
    if pd.isna(value):
        return value
    else:
        metric = word_tokenize(value)[1]
        if metric == "pixels":
            to_convert = word_tokenize(value)[0].replace(",", "")
            return float((to_convert)) / (10 ** 6)
        else:
            return float(word_tokenize(value)[0])

In [18]:
df["effective megapixels"] = df["effective megapixels"].apply(pixels_to_megapixels).head()

In [19]:
df.head()

,spec_id,lcd screen size,camera type,effective megapixels,height,width,depth,weight,total pixels
0,buy.net//6036,3,Compact Camera,16.0,2.8 in,4.3 in,1.7 in,8.04 oz,16600000
1,buy.net//5860,3,Bridge Camera,12.1,3.4 in,4.9 in,4.3 in,1.30 lbs,12800000
2,buy.net//5925,3,Point & Shoot Digital Camera,16.0,2.5 in,4.3 in,1.7 in,9.5 oz,None
3,buy.net//6061,2.5,Compact Camera,12.1,2.1 in,3.8 in,0.9 in,4.48 oz,12700000
4,buy.net//5837,3,Compact Camera,16.0,2.4 in,4.1 in,1.1 in,6.07 oz,16500000

### Height width depth

In [20]:
pd.Series(df["height"].apply(clean_size)).value_counts()

in    316
mm      2
Name: height, dtype: int64

In [21]:
pd.Series(df["width"].apply(clean_size)).value_counts()

in    316
mm      2
Name: width, dtype: int64

In [22]:
pd.Series(df["depth"].apply(clean_size)).value_counts()

in    315
mm      2
Name: depth, dtype: int64

In [23]:
for index, row in df.iterrows():
    if pd.isna(row["height"]) or pd.isna(row["width"]) or pd.isna(row["depth"]):
        df.at[index, "height"] = np.nan
        df.at[index, "width"] = np.nan
        df.at[index, "depth"] = np.nan

In [24]:
len(df["depth"])

358

In [25]:
def mm_to_inches(value):
    if pd.isna(value):
        return value
    else:
        to_convert = word_tokenize(value)[0]
        metric = word_tokenize(value)[1]
        if metric == "mm":
            return round(float(to_convert) / 25.4, 1)
        else:
            return float(to_convert)

In [26]:
df["height"] = df["height"].apply(mm_to_inches)

In [27]:
df["depth"] = df["depth"].apply(mm_to_inches)
df["width"] = df["width"].apply(mm_to_inches)

In [28]:
df.head()

,spec_id,lcd screen size,camera type,effective megapixels,height,width,depth,weight,total pixels
0,buy.net//6036,3,Compact Camera,16.0,2.8,4.3,1.7,8.04 oz,16600000
1,buy.net//5860,3,Bridge Camera,12.1,3.4,4.9,4.3,1.30 lbs,12800000
2,buy.net//5925,3,Point & Shoot Digital Camera,16.0,2.5,4.3,1.7,9.5 oz,None
3,buy.net//6061,2.5,Compact Camera,12.1,2.1,3.8,0.9,4.48 oz,12700000
4,buy.net//5837,3,Compact Camera,16.0,2.4,4.1,1.1,6.07 oz,16500000

In [29]:
def merge_dimensions(row):
    if pd.isna(row["height"]) or pd.isna(row["width"]) or pd.isna(row["depth"]):
        row["dimension"] = np.nan
        return row
    row["dimension"] = str(row["height"]) + 'h' + str(row["width"]) + 'w' + str(row["depth"])  + "d"
    return row

In [30]:
df = df.apply(merge_dimensions, axis = 1)

In [31]:
df.head()

,spec_id,lcd screen size,camera type,effective megapixels,height,width,depth,weight,total pixels,dimension
0,buy.net//6036,3,Compact Camera,16.0,2.8,4.3,1.7,8.04 oz,16600000,2.8h4.3w1.7d
1,buy.net//5860,3,Bridge Camera,12.1,3.4,4.9,4.3,1.30 lbs,12800000,3.4h4.9w4.3d
2,buy.net//5925,3,Point & Shoot Digital Camera,16.0,2.5,4.3,1.7,9.5 oz,None,2.5h4.3w1.7d
3,buy.net//6061,2.5,Compact Camera,12.1,2.1,3.8,0.9,4.48 oz,12700000,2.1h3.8w0.9d
4,buy.net//5837,3,Compact Camera,16.0,2.4,4.1,1.1,6.07 oz,16500000,2.4h4.1w1.1d

### Weight

In [32]:
pd.Series(df["weight"].apply(clean_size)).value_counts()

oz     254
lbs     60
g        3
Name: weight, dtype: int64

In [33]:
def weight_to_grams_conversion(value):
    if pd.isna(value):
        return value
    else:
        to_convert = word_tokenize(value)[0]
        metric = word_tokenize(value)[1]
        if metric == "oz":
            return int(round(float(to_convert) * 28.35))
        elif metric == "lbs":
            return int(round(float(to_convert) * 454))
        else:
            return int(round(float(to_convert)))

In [34]:
df["weight"] = df["weight"].apply(weight_to_grams_conversion)

In [35]:
df.head()

,spec_id,lcd screen size,camera type,effective megapixels,height,width,depth,weight,total pixels,dimension
0,buy.net//6036,3,Compact Camera,16.0,2.8,4.3,1.7,228.0,16600000,2.8h4.3w1.7d
1,buy.net//5860,3,Bridge Camera,12.1,3.4,4.9,4.3,590.0,12800000,3.4h4.9w4.3d
2,buy.net//5925,3,Point & Shoot Digital Camera,16.0,2.5,4.3,1.7,269.0,None,2.5h4.3w1.7d
3,buy.net//6061,2.5,Compact Camera,12.1,2.1,3.8,0.9,127.0,12700000,2.1h3.8w0.9d
4,buy.net//5837,3,Compact Camera,16.0,2.4,4.1,1.1,172.0,16500000,2.4h4.1w1.1d

### Camera type

In [36]:
def clean_camera_type(camera):
    if pd.isna(camera):
        return camera
    else:
        punctuation = "!#$%&'()*+,-./:;<=>?@[\]^_`{|}~€£¥₹₽"
        for p in punctuation:
            camera = camera.replace(p, "")
        camera = ' '.join(camera.split())
        camera = camera.replace("camera", "")
        return camera.lower()

In [37]:
df["camera type"] = df["camera type"].apply(clean_camera_type)

In [38]:
df["camera type"].value_counts()

compact camera                            112
point shoot digital camera                 82
digital slr camera                         68
mirrorless interchangeable lens camera     31
mirrorless camera                          25
bridge camera                              16
surveillancenetwork camera                  2
rangefinder                                 1
digital camcorder                           1
digital frame                               1
Name: camera type, dtype: int64

In [39]:
df.head()

,spec_id,lcd screen size,camera type,effective megapixels,height,width,depth,weight,total pixels,dimension
0,buy.net//6036,3,compact camera,16.0,2.8,4.3,1.7,228.0,16600000,2.8h4.3w1.7d
1,buy.net//5860,3,bridge camera,12.1,3.4,4.9,4.3,590.0,12800000,3.4h4.9w4.3d
2,buy.net//5925,3,point shoot digital camera,16.0,2.5,4.3,1.7,269.0,None,2.5h4.3w1.7d
3,buy.net//6061,2.5,compact camera,12.1,2.1,3.8,0.9,127.0,12700000,2.1h3.8w0.9d
4,buy.net//5837,3,compact camera,16.0,2.4,4.1,1.1,172.0,16500000,2.4h4.1w1.1d

### Final cleaning

In [40]:
df = df.drop(["height", "width", "depth", "total pixels"], axis = 1)

In [41]:
df.head()

,spec_id,lcd screen size,camera type,effective megapixels,weight,dimension
0,buy.net//6036,3,compact camera,16.0,228.0,2.8h4.3w1.7d
1,buy.net//5860,3,bridge camera,12.1,590.0,3.4h4.9w4.3d
2,buy.net//5925,3,point shoot digital camera,16.0,269.0,2.5h4.3w1.7d
3,buy.net//6061,2.5,compact camera,12.1,127.0,2.1h3.8w0.9d
4,buy.net//5837,3,compact camera,16.0,172.0,2.4h4.1w1.1d

In [42]:
len(df)

358

In [43]:
df.isna().sum()

spec_id                   0
lcd screen size          24
camera type              19
effective megapixels    353
weight                   41
dimension                41
dtype: int64

In [44]:
df.head()

,spec_id,lcd screen size,camera type,effective megapixels,weight,dimension
0,buy.net//6036,3,compact camera,16.0,228.0,2.8h4.3w1.7d
1,buy.net//5860,3,bridge camera,12.1,590.0,3.4h4.9w4.3d
2,buy.net//5925,3,point shoot digital camera,16.0,269.0,2.5h4.3w1.7d
3,buy.net//6061,2.5,compact camera,12.1,127.0,2.1h3.8w0.9d
4,buy.net//5837,3,compact camera,16.0,172.0,2.4h4.1w1.1d

In [45]:
df.columns=["spec_id", "screen_size", "type", "megapixels", "weight", "dimensions"]

In [46]:
df.head()

,spec_id,screen_size,type,megapixels,weight,dimensions
0,buy.net//6036,3,compact camera,16.0,228.0,2.8h4.3w1.7d
1,buy.net//5860,3,bridge camera,12.1,590.0,3.4h4.9w4.3d
2,buy.net//5925,3,point shoot digital camera,16.0,269.0,2.5h4.3w1.7d
3,buy.net//6061,2.5,compact camera,12.1,127.0,2.1h3.8w0.9d
4,buy.net//5837,3,compact camera,16.0,172.0,2.4h4.1w1.1d

In [47]:
df.to_csv("../../datasets/unlabeled/cleaned/buy_net.csv", index=False)