In [1]:
import os
import numpy as np
import json
import pandas as pd
import itertools
from tqdm import tqdm
import nltk
from nltk.tokenize import word_tokenize
import matplotlib.pyplot as plt
import re

In [2]:
df_alibaba = pd.read_csv("/Users/gfotiadis/programming/sigmod/src/matches.csv")

In [3]:
df_alibaba

                        left_spec_id                 right_spec_id
0       www.wexphotographic.com//154  www.wexphotographic.com//181
1       www.wexphotographic.com//154  www.wexphotographic.com//187
2                 www.henrys.com//76  www.wexphotographic.com//154
3                www.henrys.com//132  www.wexphotographic.com//154
4        www.pcconnection.com//12171  www.wexphotographic.com//154
...                              ...                           ...
903408     www.buzzillions.com//1040      www.buzzillions.com//881
903409     www.buzzillions.com//2173     www.buzzillions.com//2810
903410     www.buzzillions.com//2488     www.buzzillions.com//2846
903411     www.buzzillions.com//2105     www.buzzillions.com//2430
903412     www.buzzillions.com//2943     www.buzzillions.com//2959

[903413 rows x 2 columns]

In [4]:
df_brands = pd.read_csv("../datasets/created/with_details/combined_csv.csv")

In [5]:
df_brands

                     left_spec_id              right_spec_id
0        www.price-hunt.com//9855   www.price-hunt.com//9892
1        www.price-hunt.com//9855     www.shopmania.in//1086
2         www.price-hunt.com//755   www.price-hunt.com//9855
3         www.price-hunt.com//755   www.price-hunt.com//9777
4         www.price-hunt.com//755   www.price-hunt.com//9892
...                           ...                        ...
605010  www.buzzillions.com//2349    www.priceme.co.nz//1939
605011  www.buzzillions.com//2349    www.priceme.co.nz//1810
605012  www.buzzillions.com//2349    www.priceme.co.nz//1693
605013  www.buzzillions.com//2349      www.priceme.co.nz//78
605014  www.buzzillions.com//2349  www.buzzillions.com//2868

[605015 rows x 2 columns]

In [6]:
def swap_columns(row):
    left = row["left_spec_id"]
    right = row["right_spec_id"]
    if right < left:
        row["left_spec_id"] = right
        row["right_spec_id"] = left
    return row

In [8]:
df_brands = df_brands.apply(swap_columns, axis = 1)

In [9]:
len(df_brands)

605015

In [10]:
df_brands = df_brands.drop_duplicates()

In [11]:
len(df_brands)

605015

In [12]:
brands_original = len(df_brands)

In [13]:
alibaba = len(df_alibaba)

In [14]:
merged = pd.concat([df_brands, df_alibaba])

In [15]:
len_merged = len(merged)

In [16]:
len_merged

1508428

In [17]:
merged = merged.drop_duplicates()

In [18]:
len(merged)

1162452

In [19]:
len(merged) - brands_original

557437

In [20]:
merged

                     left_spec_id              right_spec_id
0        www.price-hunt.com//9855   www.price-hunt.com//9892
1        www.price-hunt.com//9855     www.shopmania.in//1086
2         www.price-hunt.com//755   www.price-hunt.com//9855
3         www.price-hunt.com//755   www.price-hunt.com//9777
4         www.price-hunt.com//755   www.price-hunt.com//9892
...                           ...                        ...
903372   www.buzzillions.com//903   www.buzzillions.com//994
903394  www.buzzillions.com//2118  www.buzzillions.com//2421
903395  www.buzzillions.com//2118  www.buzzillions.com//2787
903396  www.buzzillions.com//2421  www.buzzillions.com//2787
903408  www.buzzillions.com//1040   www.buzzillions.com//881

[1162452 rows x 2 columns]

In [21]:
merged.to_csv("/Users/gfotiadis/programming/sigmod/src/matches_with_per_brand.csv", index=False)