In [1]:
import os
import numpy as np
import json
import pandas as pd
import itertools
from tqdm import tqdm
import nltk
from nltk.tokenize import word_tokenize
import matplotlib.pyplot as plt
import re

In [2]:
df_alibaba = pd.read_csv("alibaba.csv")

In [3]:
df_alibaba

                  left_spec_id           right_spec_id
0       www.alibaba.com//29289  www.alibaba.com//34993
1       www.alibaba.com//29289  www.alibaba.com//34233
2       www.alibaba.com//29289  www.alibaba.com//35658
3       www.alibaba.com//29289   www.alibaba.com//5601
4       www.alibaba.com//29289  www.alibaba.com//36560
...                        ...                     ...
850119  www.alibaba.com//29422  www.alibaba.com//29520
850120  www.alibaba.com//29422  www.alibaba.com//34968
850121  www.alibaba.com//29422  www.alibaba.com//35088
850122  www.alibaba.com//29422  www.alibaba.com//33310
850123  www.alibaba.com//29422  www.alibaba.com//30029

[850124 rows x 2 columns]

In [4]:
df_brands = pd.read_csv("../datasets/created/with_details/combined_csv.csv")

In [5]:
df_brands

                     left_spec_id              right_spec_id
0        www.price-hunt.com//9855   www.price-hunt.com//9892
1        www.price-hunt.com//9855     www.shopmania.in//1086
2         www.price-hunt.com//755   www.price-hunt.com//9855
3         www.price-hunt.com//755   www.price-hunt.com//9777
4         www.price-hunt.com//755   www.price-hunt.com//9892
...                           ...                        ...
605010  www.buzzillions.com//2349    www.priceme.co.nz//1939
605011  www.buzzillions.com//2349    www.priceme.co.nz//1810
605012  www.buzzillions.com//2349    www.priceme.co.nz//1693
605013  www.buzzillions.com//2349      www.priceme.co.nz//78
605014  www.buzzillions.com//2349  www.buzzillions.com//2868

[605015 rows x 2 columns]

In [6]:
brands_original = len(df_brands)

In [7]:
alibaba = len(df_alibaba)

In [8]:
merged = pd.concat([df_brands, df_alibaba])

In [9]:
len_merged = len(merged)

In [10]:
merged = merged.drop_duplicates()

In [11]:
len(merged) - brands_original

687589

In [12]:
merged

                    left_spec_id             right_spec_id
0       www.price-hunt.com//9855  www.price-hunt.com//9892
1       www.price-hunt.com//9855    www.shopmania.in//1086
2        www.price-hunt.com//755  www.price-hunt.com//9855
3        www.price-hunt.com//755  www.price-hunt.com//9777
4        www.price-hunt.com//755  www.price-hunt.com//9892
...                          ...                       ...
850119    www.alibaba.com//29422    www.alibaba.com//29520
850120    www.alibaba.com//29422    www.alibaba.com//34968
850121    www.alibaba.com//29422    www.alibaba.com//35088
850122    www.alibaba.com//29422    www.alibaba.com//33310
850123    www.alibaba.com//29422    www.alibaba.com//30029

[1292604 rows x 2 columns]

In [13]:
merged.to_csv("with_alibaba.csv", index=False)