## Loading the data

In [28]:
import os
import numpy as np
import json
import pandas as pd
import itertools
from tqdm import tqdm
import nltk
from nltk.tokenize import word_tokenize
import re
import matplotlib.pyplot as plt

In [29]:
def create_dataframe(dataset_path):
    """Function used to create a Pandas DataFrame containing specifications page titles

    Reads products specifications from the file system ("dataset_path" variable in the main function) and creates a Pandas DataFrame where each row is a
    specification. The columns are 'source' (e.g. www.sourceA.com), 'spec_number' (e.g. 1) and the 'page title'. Note that this script will consider only
    the page title attribute for simplicity.

    Args:
        dataset_path (str): The path to the dataset

    Returns:
        df (pd.DataFrame): The Pandas DataFrame containing specifications and page titles
    """

    print('>>> Creating dataframe...\n')
    columns_df = ['source', 'spec_number', 'spec_id', 'page_title']

    progressive_id = 0
    progressive_id2row_df = {}
    for source in tqdm(os.listdir(dataset_path)):
        for specification in os.listdir(os.path.join(dataset_path, source)):
            specification_number = specification.replace('.json', '')
            specification_id = '{}//{}'.format(source, specification_number)
            with open(os.path.join(dataset_path, source, specification)) as specification_file:
                specification_data = json.load(specification_file)
                page_title = specification_data.get('<page title>').lower()
                row = (source, specification_number, specification_id, page_title)
                progressive_id2row_df.update({progressive_id: row})
                progressive_id += 1
    df = pd.DataFrame.from_dict(progressive_id2row_df, orient='index', columns=columns_df)
    print('>>> Dataframe created successfully!\n')
    return df

In [33]:
df = create_dataframe('../datasets/unlabeled/2013_camera_specs')

  0%|          | 0/24 [00:00<?, ?it/s]

>>> Creating dataframe...

100%|██████████| 24/24 [00:07<00:00,  3.34it/s]

>>> Dataframe created successfully!

## Cleaning

In [34]:
df = df.drop(columns = ["source", "spec_number"], axis = 1)

In [35]:
from nltk.corpus import stopwords

stopWords = set(stopwords.words('english'))

In [36]:
stopWords = set(['itself', 'down', 'by', 'with', 'doesn', 'wouldn', 'other', 'ours', 'of', 'then', 'where', 'don', 'these', 'nor', 'she', "should've", 'won', 'ma', 'from', 'had', "you're", 'our', 'did', 'them', 'too', 'her', 'that', 'haven', 'after', "you'll", 'hers', 'because', 'yourself', 'against', 'mightn', 'as', 'll', 'whom', 'how', 'couldn', 'further', 'aren', "you'd", 'and', 'needn', "couldn't", 'those', 'to', "doesn't", "weren't", 'both', 'ourselves', 'in', 'which', 'yours', 'under', 'some', 'what', 'during', 'before', "needn't", "shan't", 'here', 'having', 'hasn', 'your', "hasn't", 'between', 'me', "she's", 'into', 'all', 'at', 'shan', 'who', 'o', 'an', 'very', 'can', 'you', 'shouldn', 'such', 'but', 'do', 'out', 'am', "shouldn't", 'above', 'wasn', 'or', 'were', 'own', 'didn', "you've", 'on', 'will', 'my', 'it', 'have', 'once', 'only', 'been', 'themselves', 'his', 'be', "mightn't", 'they', 'not', 'so', 'up', 'any', 'most', 'has', 'myself', 't', 'yourselves', 'isn', "it's", 'y', 'm', 'now', 'until', 're', 'there', 'their', 'mustn', "mustn't", 'again', 'being', 'hadn', 'doing', 'just', 'no', 'if', 've', "wasn't", "won't", 'we', 'below', 'does', 'more', 'this', 'should', "isn't", 'ain', "don't", 'i', "haven't", 'than', "didn't", 'are', 'about', 'off', 'him', 'for', 'few', "wouldn't", 'was', 'weren', 'why', 'he', "that'll", 'd', 'the', 'its', 'a', 'each', 'is', 'while', "aren't", 'when', 'theirs', 'same', 's', 'himself', 'herself', "hadn't", 'through', 'over'])

In [37]:
punctuation = "!#$%&'()*+,-./:;<=>?@[\]^_`{|}~€£¥₹₽"

In [38]:
def replace_punctuation(word):
    return ''.join(c for c in word if c not in punctuation)

In [39]:
df["page_title"] = df["page_title"].apply(lambda x : [i.lower() for i in list(map(lambda y: replace_punctuation(y), word_tokenize(x))) if i and i.lower() not in stopWords])

## Model Words

In [40]:
pattern = re.compile("(\S*[A-Za-z]\S*[0-9]\S*|\S*[0-9]\S*[A-Za-z]\S*)")

In [41]:
## In the data replace lumix with panasonic

In [42]:
brands = ['360fly', 'acer', 'achiever', 'acorn', 'actionpro', 'activeon', 'aee', 'agfa', 'agfaphoto', 'aiptek', 'akaso', 'alpine', 'alpine', 'amkov', 'andoer', 'annke', 'ansco', 'apeman', 'apex', 'apple', 'archos', 'argus', 'arlo', 'arri', 'axis', 'bell', 'benq', 'blackmagic', 'blackmagic', 'bosch', 'bower', 'brinno', 'brookstone', 'browning', 'cambo', 'campark', 'canon', 'carl', 'casio', 'celestron', 'chinon', 'cisco', 'cobra', 'coleman', 'concord', 'contax', 'contour', 'covert', 'craig', 'crayola', 'creative', 'creative', 'crosstour', 'crumpler', 'datavideo', 'delkin', 'dell', 'digitrex', 'discovery', 'disney', 'dji', 'd-link', 'domke', 'dörr', 'dragon', 'dxg', 'dxo', 'easypix', 'elecom', 'elmo', 'emerson', 'energizer', 'epson', 'fisher-price', 'flip', 'flir', 'foscam', 'fotoman', 'fotopro', 'fuji', 'fujifilm', 'fujinon', 'garmin', 'gateway', 'godox', 'goodmans', 'google', 'gopro', 'grundig', 'hahnel', 'hamilton', 'hasselblad', 'hello', 'herofiber', 'hitachi', 'holga', 'horseman', 'hoya', 'htc', 'huawei', 'ikelite', 'ilford', 'impossible', 'innovage', 'insignia', 'insta360', 'intel', 'intova', 'ion', 'iris', 'jazz', 'jenoptik', 'jjrc', 'jvc', 'kaiser', 'kenko', 'keyence', 'king', 'kitvision', 'kodak', 'konica', 'kyocera', 'leaf', 'lego', 'leica', 'lenovo', 'lexibook', 'linhof', 'liquid', 'little', 'logitech', 'lomography', 'lowepro', 'ltl', 'lytro', 'maginon', 'magnavox', 'mamiya', 'manfrotto', 'marshall', 'marumi', 'mattel', 'maxell', 'meade', 'medion', 'memorex', 'mercury', 'metz', 'microsoft', 'microtek', 'midland', 'minolta', 'minox', 'monster', 'motorola', 'moultrie', 'mustek', 'nabi', 'neewer', 'nest', 'netgear', 'night', 'nikkon', 'nikkor', 'nikon', 'nilox', 'nintendo', 'nippon', 'nokia', 'norcent', 'olympus', 'optech', 'ordro', 'oregon', 'packard', 'palm', 'panasonic', 'parrot', 'pelco', 'pentacon', 'pentax', 'phase', 'philips', 'philips', 'phoenix', 'pioneer', 'playskool', 'polaroid', 'polarpro', 'praktica', 'premier', 'promaster', 'proscan', 'pyle', 'radioshack', 'raymarine', 'raynox', 'rca', 'ricoh', 'ring', 'rode', 'rokinon', 'rollei', 'ryobi', 'sakar', 'samsung', 'sandisk', 'sanyo', 'schneider', 'schneider', 'schneider', 'scosche', 'seasea', 'sealife', 'sharp', 'sharper', 'sigma', 'sinar', 'sipix', 'sjcam', 'sony', 'soocoo', 'stealth', 'superheadz', 'svp', 'swann', 'tamrac', 'tamron', 'technika', 'tenba', 'think', 'thule', 'tokina', 'tomy', 'toshiba', 'transcend', 'traveler', 'trust', 'verbatim', 'vibe', 'victure', 'vistaquest', 'vivitar', 'voigtländer', 'vtech', 'vupoint', 'walimex', 'wyze', 'xiaomi', 'xit', 'xtreme', 'yashica', 'zeiss']

In [43]:
df["page_title"] = df["page_title"].apply(lambda line : list(set(filter(lambda word : bool(pattern.match(word)) or word in brands,line))))

In [44]:
df.head()

                        spec_id                  page_title
0  www.wexphotographic.com//154    [nikon, vna593e1, aw120]
1  www.wexphotographic.com//553         [canon, 9148b007aa]
2  www.wexphotographic.com//601     [s1, p10nc12730a, fuji]
3  www.wexphotographic.com//197    [nikon, vna540e1, s5300]
4  www.wexphotographic.com//178  [p10nc12690a, fuji, s8600]

In [45]:
df["brand"] = ""

In [46]:
# See how many products have more than one brand
for index, row in df.iterrows():
    for brand in row["page_title"]:
        if brand in brands:
            df["brand"].iloc[index] = brand

In [47]:
df.head()

                        spec_id                  page_title  brand
0  www.wexphotographic.com//154    [nikon, vna593e1, aw120]  nikon
1  www.wexphotographic.com//553         [canon, 9148b007aa]  canon
2  www.wexphotographic.com//601     [s1, p10nc12730a, fuji]   fuji
3  www.wexphotographic.com//197    [nikon, vna540e1, s5300]  nikon
4  www.wexphotographic.com//178  [p10nc12690a, fuji, s8600]   fuji

In [48]:
for index, row in df.iterrows():
    if row["brand"] == "":
        df["brand"].iloc[index] = "unbranded"

In [49]:
# TODO manage entries with multiple brands

In [50]:
df = df.groupby(["brand"])

## Algorith for every brand

In [51]:
import time
t = time.time()

for group_name, group in df:
    print("CALCULATING FOR BRAND = ", group_name)
    merged = group.drop(columns=["brand"], axis = 1)
    merged = (merged.merge(merged, on=merged.assign(key_col=1)['key_col'], suffixes=('', '_right'))
 .query('spec_id != spec_id_right') # filter out joins on the same row
 .reset_index(drop=True))
    merged.drop(columns = ["key_0"], axis = 1, inplace=True)
    merged["zipped"] = tuple(map(lambda line : sorted(line), list(zip(merged["spec_id"], merged["spec_id_right"]))))
    merged.drop_duplicates("zipped", inplace=True)
    merged.drop(columns=["zipped"], inplace=True)
    merged.rename(columns = {"spec_id" : "left_spec_id", "spec_id_right" : "right_spec_id"}, inplace=True)
    merged.reset_index(inplace=True)
    #
    labels = []
    print("NUMBER OF COMPARISONS: ", len(merged))
    commons = 0
    for index, row in merged.iterrows():
        if index % 100000 == 0 and index != 0:
            print(index)
        for spec in row["page_title"]:
            if spec in row["page_title_right"]:
                commons += 1
        if commons >= 2:
            labels.append(1)
        else:
            labels.append(0)
        commons = 0
    merged["label"] = labels
    del labels
    merged = merged.loc[merged['label'] == 1]
    merged.drop(columns=["page_title", "page_title_right", "label"], axis = 1).to_csv("../datasets/created/brand_{}_compact_matches_labeled.csv".format(group_name),index = False)

elapsed = time.time() - t
print("ALL TOGETHER IT TOOK : ", elapsed, "SECONDS")

CALCULATING FOR BRAND =  acorn
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  aee
NUMBER OF COMPARISONS:  1
CALCULATING FOR BRAND =  agfa
NUMBER OF COMPARISONS:  1
CALCULATING FOR BRAND =  agfaphoto
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  aiptek
NUMBER OF COMPARISONS:  55
CALCULATING FOR BRAND =  alpine
NUMBER OF COMPARISONS:  1
CALCULATING FOR BRAND =  apex
NUMBER OF COMPARISONS:  3
CALCULATING FOR BRAND =  apple
NUMBER OF COMPARISONS:  28
CALCULATING FOR BRAND =  argus
NUMBER OF COMPARISONS:  28
CALCULATING FOR BRAND =  axis
NUMBER OF COMPARISONS:  6
CALCULATING FOR BRAND =  bell
NUMBER OF COMPARISONS:  300
CALCULATING FOR BRAND =  benq
NUMBER OF COMPARISONS:  105
CALCULATING FOR BRAND =  blackmagic
NUMBER OF COMPARISONS:  28
CALCULATING FOR BRAND =  bosch
NUMBER OF COMPARISONS:  15
CALCULATING FOR BRAND =  brinno
NUMBER OF COMPARISONS:  3
CALCULATING FOR BRAND =  cambo
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  canon
NUMBER OF COMPARISONS:  14458753
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
10000000
10100000
10200000
10300000
10400000
10500000
10600000
10700000
10800000
10900000
11000000
11100000
11200000
11300000
11400000
11500000
11600000
11700000
11800000
11900000
12000000
12100000
12200000
12300000
12400000
12500000
12600000
12700000
12800000
12900000
13000000
13100000
13200000
13300000
13400000
13500000
13600000
13700000
13800000
13900000
14000000
14100000
14200000
14300000
14400000
CALCULATING FOR BRAND =  casio
NUMBER OF COMPARISONS:  24976
CALCULATING FOR BRAND =  celestron
NUMBER OF COMPARISONS:  3
CALCULATING FOR BRAND =  chinon
NUMBER OF COMPARISONS:  1
CALCULATING FOR BRAND =  cobra
NUMBER OF COMPARISONS:  55
CALCULATING FOR BRAND =  coleman
NUMBER OF COMPARISONS:  435
CALCULATING FOR BRAND =  concord
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  contax
NUMBER OF COMPARISONS:  3
CALCULATING FOR BRAND =  contour
NUMBER OF COMPARISONS:  6
CALCULATING FOR BRAND =  covert
NUMBER OF COMPARISONS:  21
CALCULATING FOR BRAND =  crayola
NUMBER OF COMPARISONS:  15
CALCULATING FOR BRAND =  creative
NUMBER OF COMPARISONS:  1
CALCULATING FOR BRAND =  digitrex
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  discovery
NUMBER OF COMPARISONS:  1
CALCULATING FOR BRAND =  disney
NUMBER OF COMPARISONS:  253
CALCULATING FOR BRAND =  dji
NUMBER OF COMPARISONS:  15
CALCULATING FOR BRAND =  dxg
NUMBER OF COMPARISONS:  91
CALCULATING FOR BRAND =  easypix
NUMBER OF COMPARISONS:  10
CALCULATING FOR BRAND =  elmo
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  emerson
NUMBER OF COMPARISONS:  55
CALCULATING FOR BRAND =  epson
NUMBER OF COMPARISONS:  15
CALCULATING FOR BRAND =  flip
NUMBER OF COMPARISONS:  55
CALCULATING FOR BRAND =  flir
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  foscam
NUMBER OF COMPARISONS:  3
CALCULATING FOR BRAND =  fuji
NUMBER OF COMPARISONS:  11175
CALCULATING FOR BRAND =  fujifilm
NUMBER OF COMPARISONS:  889111
100000
200000
300000
400000
500000
600000
700000
800000
CALCULATING FOR BRAND =  fujinon
NUMBER OF COMPARISONS:  21
CALCULATING FOR BRAND =  garmin
NUMBER OF COMPARISONS:  21
CALCULATING FOR BRAND =  gateway
NUMBER OF COMPARISONS:  1
CALCULATING FOR BRAND =  gopro
NUMBER OF COMPARISONS:  35778
CALCULATING FOR BRAND =  hasselblad
NUMBER OF COMPARISONS:  231
CALCULATING FOR BRAND =  hello
NUMBER OF COMPARISONS:  15
CALCULATING FOR BRAND =  hitachi
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  holga
NUMBER OF COMPARISONS:  3
CALCULATING FOR BRAND =  horseman
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  hoya
NUMBER OF COMPARISONS:  21
CALCULATING FOR BRAND =  htc
NUMBER OF COMPARISONS:  10
CALCULATING FOR BRAND =  ikelite
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  innovage
NUMBER OF COMPARISONS:  1
CALCULATING FOR BRAND =  insignia
NUMBER OF COMPARISONS:  28
CALCULATING FOR BRAND =  intel
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  intova
NUMBER OF COMPARISONS:  66
CALCULATING FOR BRAND =  ion
NUMBER OF COMPARISONS:  3
CALCULATING FOR BRAND =  iris
NUMBER OF COMPARISONS:  6
CALCULATING FOR BRAND =  jazz
NUMBER OF COMPARISONS:  3
CALCULATING FOR BRAND =  jvc
NUMBER OF COMPARISONS:  36
CALCULATING FOR BRAND =  kenko
NUMBER OF COMPARISONS:  3
CALCULATING FOR BRAND =  king
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  kodak
NUMBER OF COMPARISONS:  283128
100000
200000
CALCULATING FOR BRAND =  konica
NUMBER OF COMPARISONS:  820
CALCULATING FOR BRAND =  kyocera
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  lego
NUMBER OF COMPARISONS:  1
CALCULATING FOR BRAND =  leica
NUMBER OF COMPARISONS:  20503
CALCULATING FOR BRAND =  lenovo
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  liquid
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  little
NUMBER OF COMPARISONS:  10
CALCULATING FOR BRAND =  logitech
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  lowepro
NUMBER OF COMPARISONS:  561
CALCULATING FOR BRAND =  ltl
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  lytro
NUMBER OF COMPARISONS:  190
CALCULATING FOR BRAND =  magnavox
NUMBER OF COMPARISONS:  15
CALCULATING FOR BRAND =  mamiya
NUMBER OF COMPARISONS:  1
CALCULATING FOR BRAND =  mattel
NUMBER OF COMPARISONS:  3
CALCULATING FOR BRAND =  mercury
NUMBER OF COMPARISONS:  1
CALCULATING FOR BRAND =  midland
NUMBER OF COMPARISONS:  1
CALCULATING FOR BRAND =  minolta
NUMBER OF COMPARISONS:  820
CALCULATING FOR BRAND =  minox
NUMBER OF COMPARISONS:  15
CALCULATING FOR BRAND =  motorola
NUMBER OF COMPARISONS:  6
CALCULATING FOR BRAND =  moultrie
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  mustek
NUMBER OF COMPARISONS:  28
CALCULATING FOR BRAND =  nabi
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  nest
NUMBER OF COMPARISONS:  21
CALCULATING FOR BRAND =  night
NUMBER OF COMPARISONS:  73536
CALCULATING FOR BRAND =  nikkor
NUMBER OF COMPARISONS:  15051
CALCULATING FOR BRAND =  nikon
NUMBER OF COMPARISONS:  10109256
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
10000000
10100000
CALCULATING FOR BRAND =  nokia
NUMBER OF COMPARISONS:  1
CALCULATING FOR BRAND =  olympus
NUMBER OF COMPARISONS:  1033203
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
CALCULATING FOR BRAND =  oregon
NUMBER OF COMPARISONS:  10
CALCULATING FOR BRAND =  packard
NUMBER OF COMPARISONS:  10
CALCULATING FOR BRAND =  palm
NUMBER OF COMPARISONS:  15
CALCULATING FOR BRAND =  panasonic
NUMBER OF COMPARISONS:  804546
100000
200000
300000
400000
500000
600000
700000
800000
CALCULATING FOR BRAND =  pelco
NUMBER OF COMPARISONS:  3
CALCULATING FOR BRAND =  pentax
NUMBER OF COMPARISONS:  190036
100000
CALCULATING FOR BRAND =  phase
NUMBER OF COMPARISONS:  3
CALCULATING FOR BRAND =  philips
NUMBER OF COMPARISONS:  120
CALCULATING FOR BRAND =  pioneer
NUMBER OF COMPARISONS:  6
CALCULATING FOR BRAND =  polaroid
NUMBER OF COMPARISONS:  6328

CALCULATING FOR BRAND =  praktica
NUMBER OF COMPARISONS:  1
CALCULATING FOR BRAND =  premier
NUMBER OF COMPARISONS:  3
CALCULATING FOR BRAND =  proscan
NUMBER OF COMPARISONS:  1
CALCULATING FOR BRAND =  rca
NUMBER OF COMPARISONS:  45
CALCULATING FOR BRAND =  ricoh
NUMBER OF COMPARISONS:  5460
CALCULATING FOR BRAND =  ring
NUMBER OF COMPARISONS:  3
CALCULATING FOR BRAND =  rollei
NUMBER OF COMPARISONS:  1
CALCULATING FOR BRAND =  sakar
NUMBER OF COMPARISONS:  120
CALCULATING FOR BRAND =  samsung
NUMBER OF COMPARISONS:  562330
100000
200000
300000
400000
500000
CALCULATING FOR BRAND =  sandisk
NUMBER OF COMPARISONS:  171
CALCULATING FOR BRAND =  sanyo
NUMBER OF COMPARISONS:  1035
CALCULATING FOR BRAND =  schneider
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  sealife
NUMBER OF COMPARISONS:  91
CALCULATING FOR BRAND =  sharp
NUMBER OF COMPARISONS:  253
CALCULATING FOR BRAND =  sharper
NUMBER OF COMPARISONS:  10
CALCULATING FOR BRAND =  sigma
NUMBER OF COMPARISONS:  6786
CALCULATING FOR BRAND =  sipix
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  sjcam
NUMBER OF COMPARISONS:  6
CALCULATING FOR BRAND =  sony
NUMBER OF COMPARISONS:  5273128
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
CALCULATING FOR BRAND =  superheadz
NUMBER OF COMPARISONS:  21
CALCULATING FOR BRAND =  svp
NUMBER OF COMPARISONS:  1035
CALCULATING FOR BRAND =  tamrac
NUMBER OF COMPARISONS:  1
CALCULATING FOR BRAND =  tamron
NUMBER OF COMPARISONS:  2211
CALCULATING FOR BRAND =  tokina
NUMBER OF COMPARISONS:  45
CALCULATING FOR BRAND =  tomy
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  toshiba
NUMBER OF COMPARISONS:  171
CALCULATING FOR BRAND =  transcend
NUMBER OF COMPARISONS:  0
CALCULATING FOR BRAND =  traveler
NUMBER OF COMPARISONS:  1
CALCULATING FOR BRAND =  unbranded
NUMBER OF COMPARISONS:  26670556
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
10000000
10100000
10200000
10300000
10400000
10500000
10600000
10700000
10800000
10900000
11000000
11100000
11200000
11300000
11400000
11500000
11600000
11700000
11800000
11900000
12000000
12100000
12200000
12300000
12400000
12500000
12600000
12700000
12800000
12900000
13000000
13100000
13200000
13300000
13400000
13500000
13600000
13700000
13800000
13900000
14000000
14100000
14200000
14300000
14400000
14500000
14600000
14700000
14800000
14900000
15000000
15100000
15200000
15300000
15400000
15500000
15600000
15700000
15800000
15900000
16000000
16100000
16200000
16300000
16400000
16500000
16600000
16700000
16800000
16900000
17000000
17100000
17200000
17300000
17400000
17500000
17600000
17700000
17800000
17900000
18000000
18100000
18200000
18300000
18400000
18500000
18600000
18700000
18800000
18900000
19000000
19100000
19200000
19300000
19400000
19500000
19600000
19700000
19800000
19900000
20000000
20100000
20200000
20300000
20400000
20500000
20600000
20700000
20800000
20900000
21000000
21100000
21200000
21300000
21400000
21500000
21600000
21700000
21800000
21900000
22000000
22100000
22200000
22300000
22400000
22500000
22600000
22700000
22800000
22900000
23000000
23100000
23200000
23300000
23400000
23500000
23600000
23700000
23800000
23900000
24000000
24100000
24200000
24300000
24400000
24500000
24600000
24700000
24800000
24900000
25000000
25100000
25200000
25300000
25400000
25500000
25600000
25700000
25800000
25900000
26000000
26100000
26200000
26300000
26400000
26500000
26600000
CALCULATING FOR BRAND =  vibe
NUMBER OF COMPARISONS:  6
CALCULATING FOR BRAND =  vistaquest
NUMBER OF COMPARISONS:  55
CALCULATING FOR BRAND =  vivitar
NUMBER OF COMPARISONS:  17766
CALCULATING FOR BRAND =  vtech
NUMBER OF COMPARISONS:  45
CALCULATING FOR BRAND =  vupoint
NUMBER OF COMPARISONS:  3
CALCULATING FOR BRAND =  xtreme
NUMBER OF COMPARISONS:  66
CALCULATING FOR BRAND =  yashica
NUMBER OF COMPARISONS:  3
CALCULATING FOR BRAND =  zeiss
NUMBER OF COMPARISONS:  136
ALL TOGETHER IT TOOK :  8792.614705085754 SECONDS

In [ ]:
# Maybe remove brand 'night'

In [53]:
import os
import glob

os.chdir("../datasets/created/")
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')